.app {
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px;
}
.questions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-box {
  background-color: rgb(27, 27, 27);
  padding: 15px;
  color: white;
  padding: 100px;
  border-radius: 10px;
  padding: 0 40px 10px 40px;
}

.question-box h1 {
  text-align: left;
  color: rgb(177, 136, 211);
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(79, 134, 111);
  color: #f8f8f8;
}

.question-button:disabled {
  background-color: rgb(121, 121, 121);
  color: aqua;
}
